.footer{
	height: 50px;
	margin-top: 5px;
}

.copy{
	margin-top:12px;
}

.content{
	margin-left: 200px;
	margin-top: -280px; 
}

.description{
	margin-left: 400px;
	margin-right: 400px;
	padding: 30px;
	border: solid; ;
}

/*-----------------------hovver dropdown------------------------*/
.dropbtn {
   /* background-color: #4CAF50;*/
    /*color: white;*/
    padding: 16px;
  /*  font-size: 16px;*/
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: pink;}

.robotic{
    display: none;
}

/*-----------------------hovver dropdown------------------------*/

/*-----------------------Jquery validation------------------------*/

/*#contact_submit{
    padding-left: 100px;
}
#contact div{
    margin-top: 1em;
}
textarea{
    vertical-align: top;
    height: 5em;
}
    
.error{
    display: none;
    margin-left: 10px;
}       

.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}*/

/*-----------------------Jquery validation------------------------*/

/*vertical nav bar*/
/*.vertical-menu {
    width: 200px;
    margin-top: 40px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
*/

